<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.hzero.imported.infra.mapper.TemplateTargetMapper">

    <select id="listTemplateTarget" resultType="org.hzero.imported.domain.entity.TemplateTarget">
        <bind name="lang" value="@io.choerodon.mybatis.helper.LanguageHelper@language()"/>
        SELECT
            htt.id,
            htt.header_id,
            hth.tenant_id,
            htt.sheet_index,
            httt.sheet_name,
            htt.datasource_code,
            htt.table_name,
            htt.rule_script_code,
            htt.enabled_flag,
            htt.object_version_number,
            htt.start_line
        FROM
            himp_template_target htt
        JOIN himp_template_header hth ON hth.id = htt.header_id
        LEFT JOIN himp_template_target_tl httt ON httt.id = htt.id AND httt.lang = #{lang}
        WHERE
            htt.header_id = #{headerId}
    </select>

    <delete id="deleteByHeaderId">
        DELETE
        FROM
            himp_template_target
        WHERE
            header_id = #{templateId}
    </delete>
</mapper>
