<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.hzero.message.infra.mapper.DingTalkServerMapper">
	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="org.hzero.message.domain.entity.DingTalkServer">
        <result column="server_id" property="serverId" jdbcType="DECIMAL"/>
        <result column="server_code" property="serverCode" jdbcType="VARCHAR"/>
        <result column="server_name" property="serverName" jdbcType="VARCHAR"/>
        <result column="auth_type" property="authType" jdbcType="VARCHAR"/>
        <result column="app_key" property="appKey" jdbcType="VARCHAR"/>
        <result column="app_secret" property="appSecret" jdbcType="VARCHAR"/>
        <result column="auth_address" property="authAddress" jdbcType="VARCHAR"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
        <result column="enabled_flag" property="enabledFlag" jdbcType="DECIMAL"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="DATE"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="DATE"/>
    </resultMap>
    <select id="listDingTalkServer" resultType="org.hzero.message.domain.entity.DingTalkServer">
        <bind name="lang" value="@io.choerodon.mybatis.helper.LanguageHelper@language()" />
        SELECT
            hds.server_id,
            hds.server_code,
            hdst.server_name,
            hds.auth_type,
            hds.app_key,
            hds.tenant_id,
            hds.agent_id,
            hds.enabled_flag,
            hds.object_version_number,
            ht.tenant_name
        FROM
            hmsg_dingtalk_server hds
        JOIN hmsg_dingtalk_server_tl hdst ON hdst.server_id = hds.server_id AND hdst.lang = #{lang}
        JOIN hpfm_tenant_tl ht ON ht.tenant_id = hds.tenant_id AND ht.lang = #{lang}
        WHERE 1 = 1
        <if test="tenantId != null">
            AND hds.tenant_id in (#{tenantId}<if test="includeSiteIfQueryByTenantId">, 0</if> )
        </if>
        <if test="enabledFlag != null">
            AND hds.enabled_flag = #{enabledFlag}
        </if>
        <if test="authType != null and authType != ''">
            AND hds.auth_type = #{authType}
        </if>
        <if test="serverCode != null and serverCode != ''">
            <bind name="serverCodeLike" value="'%' + serverCode + '%'"/>
            AND hds.server_code LIKE #{serverCodeLike}
        </if>
        <if test="serverName != null and serverName != ''">
            <bind name="serverNameLike" value="'%' + serverName + '%'"/>
            AND hdst.server_name LIKE #{serverNameLike}
        </if>
    </select>
    <select id="getDingTalkServerById" resultType="org.hzero.message.domain.entity.DingTalkServer">
        <bind name="lang" value="@io.choerodon.mybatis.helper.LanguageHelper@language()" />
        SELECT
            hds.server_id,
            hds.server_code,
            hds.server_name,
            hds.auth_type,
            hds.auth_address,
            hds.app_key,
            hds.agent_id,
            hds.tenant_id,
            hds.enabled_flag,
            hds.object_version_number,
            ht.tenant_name
        FROM
            hmsg_dingtalk_server hds
        JOIN hpfm_tenant_tl ht ON ht.tenant_id = hds.tenant_id AND ht.lang = #{lang}
        WHERE hds.server_id = #{serverId}
        <if test="tenantId != null">
            AND hds.tenant_id = #{tenantId}
        </if>
    </select>

    <select id="selectByCode" resultType="org.hzero.message.domain.entity.DingTalkServer">
        SELECT
            hds.server_id,
            hds.server_code,
            hds.server_name,
            hds.agent_id,
            hds.enabled_flag,
            hds.tenant_id,
            hds.object_version_number
        FROM
            hmsg_dingtalk_server hds
        WHERE
            hds.tenant_id = #{tenantId}
        AND hds.server_code = #{serverCode}
    </select>
</mapper>