<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.hzero.message.infra.mapper.EmailServerMapper">
    <select id="selectEmailServer" resultType="org.hzero.message.domain.entity.EmailServer">
        <bind name="lang" value="@io.choerodon.mybatis.helper.LanguageHelper@language()" />
        select
            hes.server_id,
            hes.server_code,
            hest.server_name,
            hes.host,
            hes.port,
            hes.protocol,
            hes.try_times,
            hes.username,
            hes.sender,
            hes.filter_strategy,
            hes.enabled_flag,
            hes.tenant_id,
            hes.object_version_number,
            ht.tenant_name
        FROM
            hmsg_email_server hes
        JOIN hmsg_email_server_tl hest ON hest.server_id = hes.server_id AND hest.lang = #{lang}
        JOIN hpfm_tenant_tl ht ON hes.tenant_id = ht.tenant_id AND ht.lang = #{lang}
        WHERE 1 = 1
        <if test="tenantId != null">
            and hes.tenant_id in (#{tenantId}<if test="includeSiteIfQueryByTenantId">, 0</if>)
        </if>
        <if test="serverCode != null and serverCode != ''">
            <bind name="serverCode" value="'%' + serverCode + '%'"/>
            and hes.server_code like #{serverCode}
        </if>
        <if test="serverName != null and serverName != ''">
            <bind name="serverName" value="'%' + serverName + '%'"/>
            and hest.server_name like #{serverName}
        </if>
        <if test="enabledFlag != null">
            and hes.enabled_flag = #{enabledFlag}
        </if>
    </select>

    <select id="selectByCode" resultType="org.hzero.message.domain.entity.EmailServer">
        SELECT
            hes.server_id,
            hes.server_code,
            hes.server_name,
            hes.enabled_flag,
            hes.tenant_id,
            hes.object_version_number
        FROM
            hmsg_email_server hes
        WHERE
            hes.tenant_id = #{tenantId}
        AND hes.server_code = #{serverCode}
    </select>
</mapper>