<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.hzero.message.infra.mapper.MessageReceiverMapper">
	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="org.hzero.message.domain.entity.MessageReceiver">
        <result column="receiver_id" property="receiverId" jdbcType="DECIMAL"/>
        <result column="message_id" property="messageId" jdbcType="DECIMAL"/>
        <result column="receiver_address" property="receiverAddress" jdbcType="VARCHAR"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="DATE"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="DATE"/>
    </resultMap>

    <select id="getUser" resultType="org.hzero.message.api.dto.UserSimpleDTO">
        SELECT
        	iu.login_name,
        	iu.real_name
        FROM
        	iam_user iu
        WHERE
            iu.id = #{userId}
    </select>
    <select id="listReceiver" resultType="org.hzero.message.domain.entity.MessageReceiver">
        SELECT
            hmr.receiver_id,
            hmr.message_id,
            hmr.receiver_address,
            hmr.tenant_id,
            iu.real_name,
            iu.login_name
        FROM hmsg_message_receiver hmr
        JOIN iam_user iu ON iu.id = hmr.receiver_address
        WHERE hmr.message_id IN
        <foreach collection="messageIds" item="messageId" open="(" close=")" separator=",">
            #{messageId}
        </foreach>
    </select>
</mapper>