::-webkit-input-placeholder { /* WebKit browsers */
  color: #bfbfbf;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #bfbfbf;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #bfbfbf;
}

/** 文本输入框的 X  **/
input::-ms-clear {
display: none;
}

/** 密码输入框的 X  **/
input::-ms-reveal {
display: none;
}

/* 整个页面外面的样式 */

body {
  font-family: Monospaced Number,Chinese Quote,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.bind-layout {
  display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto;
    background: #f0f2f5;
}

.bind-container {
  min-height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.bind-container > .header,
.bind-container > .footer {
  width: 100%;
}

.bind-container > .ant-layout-content > .bind-tab {
  flex-shrink: 0;
  width: 500px;
  height: 420px;
  background-color: #fff;
}

.bind-container > .ant-layout-content {
  flex: auto;
  display: flex;
  align-items: center;
}

.bind-tab > .logo {
  height: 60px;
  padding-top: 18px;
  text-align: center;
}

.bind-container > .bind-layout-content > .bind-tab {
  flex-shrink: 0;
  width: 500px;
  min-height: 420px;
  background-color: #fff;
}

/* Tabs.TabPane 的样式 */
.bind-tab-pane {
  padding: 0 60px 30px;
}

.bind-tab-pane > .logo {
  height: 60px;
  text-align: center;
}

.bind-tab-pane > .logo > a {
  display: inline-block;
  margin-top: 48px;
}

.bind-tab-pane > .logo + form {
  margin-top: 64px;
}

.bind-tab-pane > .logo + form + div {
  /* ant-form-item */
  margin-bottom: 0;
}

/* Footer 的样式 */
.footer {
  position: absolute;
  bottom: 0;
  padding: 24px 50px;
  color: #555;
  font-size: 12px;
  text-align: center;
  background-color: #f0f2f5;
}



/* 覆盖 表单组件的样式 */

.bind-form-item {
  margin-bottom: 24px;
    vertical-align: top;
}

.bind-form-item-with-help {
  margin-bottom: 6.5px;
}

.bind-form-item-children-input {
  padding-left: 10px;
  margin: 0 0 0 30px !important;
  width: calc(100% - 30px) !important;
}

.bind-form-item-children-prefix{
  display: inline-block;
  position: relative;
  width: 100%;
  margin-bottom: 3px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.bind-form-explain{
  color: #d50000;
  line-height: normal;
}

.bind-form-item-children-input .bind-form-input {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  background-color: transparent !important;
  margin: 0;
  padding: 0;
  line-height: normal;
  height: 36px;
  font-size: 13px;
}

.bind-form-input-prefix {
  padding-left: 10px;
  position: absolute!important;
  top: 0;
  bottom: 0;
  margin: auto 0;
  color: rgba(0,0,0,.26);
}

.bind-col-12{
  width:50%;
  float: left;
}

.bind-form-item-control{
  height: 42.75px
}
.bind-form-item-control:after, .bind-form-item-control:before {
    content: " ";
    display: table;
}

.bind-form-button-captcha {
    width: 91px;
  background: transparent;
}

.has-error .bind-form-input-prefix{
  color: #d50000;
}
.has-error-msg {
color: #d50000;
position: absolute;
left: 0;
top: 30px;
font-weight: normal;
}

.bind-tab-pane .bind-form-item-children {
  height: 28px;
  line-height: 36px;
}


.bind-tab-pane .bind-form-item-children-input input:-webkit-autofill {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  border: 0 solid #CCC !important;
}

/* bind-account */

.bind-form-item-children .btn-raised {
  height: 37px;
  font-size: 13px;
  line-height: 26px;
  overflow: hidden;
}

.bind-account-bind-btn {
  width: 100%;
  background-color: #29BECE !important;
  border-color: #29BECE !important;
  outline: none !important;
  text-align: center;
}

.bind-form-item-children-input .look{
  position: absolute;
    right: 10px;
    top: 12px;
    cursor: pointer;
    display: none;
}

.bind-account-captcha{
  padding-left: 10px;
}

/* forget password */
.bind-account-find-password {
  text-align: right;
  margin-bottom: 0 !important;
}


/* 覆盖样式 */
.bind-container a {
  color: #29BECE;
  background-color: transparent;
  text-decoration: none !important;
  outline: none;
  cursor: pointer;
  -webkit-transition: color .3s;
  transition: color .3s;
  -webkit-text-decoration-skip: objects;
}

.bind-container  a:hover {
    color: #5b8ae3;
}

.bind-container  a:active, a:hover {
    outline: 0;
    text-decoration: none;
}

.bind-container  a:active {
    color: #214ab0;
}

.bind-container .btn:focus {
  outline: none;
  box-shadow: none;
  border: 0;
}

.water-btn-style{
  position:relative;
  background:#fff;
  border-radius: 100%;
  animation:waterBtn 3s;
  -webkit-animation:waterBtn 3s;
  transform: translate(-50%, -50%) scale(1);
}

@keyframes waterBtn
{
  0% {
      width:0px;
      height:0px;
  }
  50% {
      width:1000px;
      height:1000px;
      opacity:0
  }
  100%{
      opacity:0
  }
}

@-webkit-keyframes waterBtn /* Safari and Chrome */
{
  0% {
      width:0px;
      height:0px;
  }
  50% {
      width:1000px;
      height:1000px;
      opacity:0
  }
  100%{
      opacity:0
  }
}