html, body {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    font-family: 'Microsoft YaHei', arial;
    font-size: 13px;
    line-height: 20px;
    direction: ltr;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/bg.svg);
    background-size: cover;
}

.congratulation {
    font-family: PingFangSC-Regular;
    font-size: 24px;
    color: #000000;
    text-align: center;
    margin-top: 85px;
}

.logoleft {
    width: 85%;
    height: 100%;
    position: absolute;
}

.login .logo {
    font-size: 30px;
    width: 279px;
    margin: 50px auto;
    padding: 15px;
    text-align: start;
    position: relative;
    color: #0366D6;
    word-break: break-all;
}

.login #content {
    padding-left: 42px;
    background-color: #fff;
    width: 454px;
    min-height: 434px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.20);
    padding-right: 42px;
    border-radius: 2px;
}

.login #content .form-title {
    font-weight: 300;
    margin-bottom: 25px;
    font-size: 24.5px;
}

.login #content .login-form {
    padding: 0px;
    margin-top: 30px;
}

.alert-error {
    color: #f92e2d;
    position: inherit;
}

.login #content .control-group {
    margin-top: 30px;
}

.control-label {
    margin-top: 2px;
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.87);
}

.input-icon {
    border-width: 0px;
    border:1px solid #ccc;
    border-radius: 2px;
}

.input-icon.left i {
    color: #ccc;
    display: block !important;
    position: absolute !important;
    z-index: 1;
    margin: 9px 2px 4px 10px;
    width: 16px;
    height: 16px;
    font-size: 16px;
    text-align: center;
}

.login #content .input-icon .m-wrap {
    margin: 0px !important;
    position: relative;
    left: 10px;
}

.login #content .m-wrap {
    width: calc(100% - 10px);
}

select {
    width: 220px;
    background-color: #fff;
    border: 1px solid #ccc;
    height: 30px;
    line-height: 30px;
}

input.m-wrap {
    border: 0;
}

input[type="text"].m-wrap, input[type="password"].m-wrap {
    -webkit-appearance: none !important;
    outline: 0;
    padding: 6px 0px !important;
    line-height: 20px;
    font-size: 14px;
    font-weight: normal;
    vertical-align: top;
    background-color: #ffffff;
    background-image: none !important;
    filter: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background: transparent;
}

.ant-btn-flat:hover {
    background: #214ab0;
}

.change-password-success {
    font-family: PingFangSC-Regular;
    font-size: 18px;
    color: rgba(0,0,0,0.65);
    text-align: center;
    margin-top: 35px;
}

.login #content .form-actions {
    clear: both;
    margin-top: 20px;
}

input.error {
    background: #fff0f0 !important;
    border-color: #A90329;
}

.btn {
    background-color: #386bd7;
    background-image: none;
    filter: none;
    border: 0;
    text-shadow: none;
    font-size: 14px;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 2px !important;
    width: 100%;
    height: 38px;
}

.ant-btn-flat.ant-btn-loading span {
    color: #000;
}

@font-face {
    font-family: 'FontAwesome';
    src: url(../css/fontawesome-webfont.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-refresh:before {
    content: "\f021";
}

.arrow {
    float: right;
    font-size: 1.6rem;
}

#list {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    font-size: 2rem;
}

.remember {
    text-align: right;
}

.resigter {
    text-decoration: none;
    margin-right: 10px;
    font-size: 13px;
    color: #999;
}

.forget {
    text-decoration: none;
    margin-left: 10px;
    font-size: 13px;
    color: #999;
}

.forget-passwd {
    font-size: 10px;
    color: #3F51B5;
    margin-top: 16px;
    margin-left: 310px;
    display: block;
}

.pIcon {
    color: #3F51B5;
    width: 38px;
    height: 38px;
}
.pText {
    display: block;
    font-family: Monospaced Number,Chinese Quote,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 400;
    line-height: 36px;
    height: 38px;
    margin-left: 8px;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.65);
}

.loginSpan {
    font-size: 20px;
    text-align: center;
    display: block;
    margin-top: 22px;
    color: #333333;
}

.login #content .form-actions a {
    color: #3F51B5;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    border: 0px solid #CCC !important;
}

.footer {
    position: absolute;
    z-index: 999;
    bottom: 10px;
    color: #555;
    font-size: 12px;
}
.back-to-login {
    font-size: 15px;
    color: #333333;
    text-align: left;
    line-height: 20px;
    font-weight: 500;
    margin: 9px 0;
}

.back-to-login:hover {
    color: #464444;
}

.ant-form-item i{
    margin: 0 10px 0 7px;
}

.ant-input-rendered {
    margin: 0px 0px 0px 37px ! important;
    width: 331px ! important;
}