<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.hzero.platform.infra.mapper.CertificateMapper">
	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="org.hzero.platform.domain.entity.Certificate">
        <result column="certificate_id" property="certificateId" jdbcType="DECIMAL"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
        <result column="domain_name" property="domainName" jdbcType="VARCHAR"/>
        <result column="issuer_domain_name" property="issuerDomainName" jdbcType="VARCHAR"/>
        <result column="start_date" property="startDate" jdbcType="DATE"/>
        <result column="end_date" property="endDate" jdbcType="DATE"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="DATE"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="DATE"/>
    </resultMap>

    <select id="selectSortCertificate" resultType="org.hzero.platform.domain.entity.Certificate">
        <bind name="lang" value="@io.choerodon.mybatis.helper.LanguageHelper@language()"/>
        SELECT
        hc.certificate_id,
        hc.tenant_id,
        hc.domain_name,
        hc.issuer_domain_name,
        hc.start_date,
        hc.end_date,
        hc.object_version_number,
        httl.tenant_name
        FROM hpfm_certificate hc
        LEFT JOIN hpfm_tenant ht ON ht.tenant_id = hc.tenant_id
        left join hpfm_tenant_tl httl on (httl.tenant_id = ht.tenant_id and httl.lang = #{lang})
        <where>
            <if test="certificateId  != null ">
                AND hc.certificate_id = #{certificateId}
            </if>
            <if test="tenantId  != null">
                AND (hc.tenant_id = #{tenantId} or hc.tenant_id = 0 )
            </if>
            <if test="domainName  != null and domainName != ''">
                <bind name="domainNameLike" value="'%'+domainName+'%'"/>
                AND hc.domain_name LIKE #{domainNameLike}
            </if>
        </where>

    </select>
</mapper>