<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.hzero.platform.infra.mapper.DatasourceMapper">
    <!-- 数据源汇总查询 -->
    <select id="selectDatasources" resultType="org.hzero.platform.domain.entity.Datasource">
        <bind name="lang" value="@io.choerodon.mybatis.helper.LanguageHelper@language()" />
        SELECT
            hd.datasource_id,
            hd.tenant_id,
            hd.datasource_code,
            hd.datasource_url,
            hdtl.description,
            hd.remark,
            hd.ds_purpose_code,
            hd.enabled_flag,
            hd.object_version_number,
            hd.db_type,
            hd.datasource_class,
            hd.driver_type,
            httl.tenant_name
        FROM hpfm_datasource hd
        JOIN hpfm_datasource_tl hdtl ON hdtl.datasource_id = hd.datasource_id AND hdtl.lang = #{lang}
        JOIN hpfm_tenant ht ON hdtl.tenant_id=ht.tenant_id
        JOIN hpfm_tenant_tl httl ON ht.tenant_id = httl.tenant_id AND httl.lang = #{lang}
        <where>
            <if test="datasource.datasourceCode != null and datasource.datasourceCode != ''">
            <bind name="datasourceCodeLike" value="'%' + datasource.datasourceCode + '%'" />
                AND hd.datasource_code LIKE #{datasourceCodeLike}
            </if>
            <if test="datasource.datasourceUrl != null and datasource.datasourceUrl != ''">
            <bind name="datasourceUrlLike" value="'%' + datasource.datasourceUrl + '%'" />
                AND hd.datasource_url LIKE #{datasourceUrlLike}
            </if>
            <if test="datasource.description != null and datasource.description != ''">
            <bind name="descriptionLike" value="'%' + datasource.description + '%'" />
                AND hdtl.description LIKE #{descriptionLike}
            </if>
            <if test="datasource.remark != null and datasource.remark != ''">
            <bind name="remarkLike" value="'%' + datasource.remark + '%'" />
                AND hd.remark LIKE #{remarkLike}
            </if>
            <if test="datasource.tenantId != null">
                AND hd.tenant_id IN (#{datasource.tenantId}<if test="orgQueryFlag">, 0</if>)
            </if>
            <if test="datasource.dsPurposeCode != null and datasource.dsPurposeCode != ''">
                AND hd.ds_purpose_code = #{datasource.dsPurposeCode}
            </if>
            <if test="orgQueryFlag and datasource.tenantId != null and datasource.tenantId != 0">
                AND hd.datasource_id NOT IN (
                  SELECT hdt.datasource_id
                  FROM hpfm_datasource hdt
                  WHERE hdt.tenant_id = 0
                  AND EXISTS (
                    SELECT 1
                    FROM hpfm_datasource hdt1
                    WHERE hdt1.tenant_id = #{datasource.tenantId}
                    AND hdt.datasource_code = hdt1.datasource_code
                  )
                )
            </if>
        </where>
    </select>
    
    <!-- 数据源明细查询 -->
    <select id="selectDatasource" resultType="org.hzero.platform.domain.entity.Datasource">
        <bind name="lang" value="@io.choerodon.mybatis.helper.LanguageHelper@language()" />
        SELECT
            hd.datasource_id,
            hd.tenant_id,
            hd.datasource_code,
            hd.datasource_url,
            hdtl.description,
            hd.driver_class,
            hd.db_pool_type,
            hd.queryer_class,
            hd.pool_class,
            hd.options,
            hd.remark,
            hd.ds_purpose_code,
            hd.username,
            hd.enabled_flag,
            hd.object_version_number,
            hd.db_type,
            httl.tenant_name,
            hddt.driver_name,
            hd.ext_config,
            hd.datasource_class,
            hd.driver_type,
            hd.driver_id
        FROM hpfm_datasource hd
        JOIN hpfm_datasource_tl hdtl ON hdtl.datasource_id = hd.datasource_id AND hdtl.lang = #{lang}
        LEFT JOIN hpfm_datasource_driver_tl hddt ON hddt.driver_id = hd.driver_id AND hddt.lang = #{lang}
        JOIN hpfm_tenant ht ON hdtl.tenant_id=ht.tenant_id
        JOIN hpfm_tenant_tl httl ON ht.tenant_id=httl.tenant_id and httl.lang = #{lang}
        WHERE hd.datasource_id = #{datasourceId}
    </select>

    <select id="getByUnique" resultType="org.hzero.platform.domain.entity.Datasource">
        <bind name="lang" value="@io.choerodon.mybatis.helper.LanguageHelper@language()" />
        SELECT
            hd.datasource_id,
            hd.tenant_id,
            hd.datasource_code,
            hd.datasource_url,
            hdtl.description,
            hd.driver_class,
            hd.db_pool_type,
            hd.queryer_class,
            hd.pool_class,
            hd.options,
            hd.remark,
            hd.ds_purpose_code,
            hd.username,
            hd.password_encrypted,
            hd.enabled_flag,
            hd.object_version_number,
            hddt.driver_name,
            hd.db_type,
            hd.datasource_class,
            hd.driver_type,
            httl.tenant_name
        FROM hpfm_datasource hd
        JOIN hpfm_datasource_tl hdtl ON hdtl.datasource_id = hd.datasource_id AND hdtl.lang = #{lang}
        LEFT JOIN hpfm_datasource_driver_tl hddt ON hddt.driver_id = hd.driver_id AND hddt.lang = #{lang}
        JOIN hpfm_tenant ht ON hdtl.tenant_id=ht.tenant_id
        JOIN hpfm_tenant_tl httl ON httl.tenant_id=ht.tenant_id and httl.lang = #{lang}
        WHERE hd.datasource_code = #{datasourceCode}
        AND hd.tenant_id = #{tenantId}
    </select>
</mapper>
