<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.hzero.platform.infra.mapper.HpfmLanguageMapper">

    <select id="selectLanguage" resultType="org.hzero.platform.domain.entity.Language">
        <bind name="lang" value="@io.choerodon.mybatis.helper.LanguageHelper@language()"/>
        select
            fl.id,
            fl.code,
            fl.name,
            flt.description,
            fl.object_version_number
        from fd_language fl
        left join fd_language_tl flt on flt.id = fl.id and flt.lang = #{lang}
        <where>
            <if test="code != null and code != ''">
                <bind name="code" value="'%' + code + '%'"/>
                fl.code like #{code}
            </if>
            <if test="name != null and name != ''">
                <bind name="name" value="'%' + name + 'name'"/>
                and fl.name = #{name}
            </if>
        </where>
    </select>
</mapper>