<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.hzero.report.infra.mapper.LabelParameterMapper">
	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="org.hzero.report.domain.entity.LabelParameter">
        <result column="label_parameter_id" property="labelParameterId" jdbcType="DECIMAL"/>
        <result column="label_template_id" property="labelTemplateId" jdbcType="DECIMAL"/>
        <result column="parameter_code" property="parameterCode" jdbcType="VARCHAR"/>
        <result column="parameter_name" property="parameterName" jdbcType="VARCHAR"/>
        <result column="param_type_code" property="paramTypeCode" jdbcType="VARCHAR"/>
        <result column="text_length" property="textLength" jdbcType="DECIMAL"/>
        <result column="max_rows" property="maxRows" jdbcType="DECIMAL"/>
        <result column="image_url" property="imageUrl" jdbcType="VARCHAR"/>
        <result column="bar_code_type" property="barCodeType" jdbcType="VARCHAR"/>
        <result column="character_encoding" property="characterEncoding" jdbcType="VARCHAR"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="DATE"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="DATE"/>
    </resultMap>
</mapper>