<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.hzero.oauth.infra.mapper.AuditLoginMapper">
	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="org.hzero.oauth.domain.entity.AuditLogin">
        <result column="audit_id" property="auditId" jdbcType="DECIMAL"/>
        <result column="audit_type" property="auditType" jdbcType="VARCHAR"/>
        <result column="user_id" property="userId" jdbcType="DECIMAL"/>
        <result column="login_name" property="loginName" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
        <result column="login_date" property="loginDate" jdbcType="DATE"/>
        <result column="login_ip" property="loginIp" jdbcType="VARCHAR"/>
        <result column="login_client" property="loginClient" jdbcType="VARCHAR"/>
        <result column="login_platform" property="loginPlatform" jdbcType="VARCHAR"/>
        <result column="login_os" property="loginOs" jdbcType="VARCHAR"/>
        <result column="login_browser" property="loginBrowser" jdbcType="VARCHAR"/>
        <result column="login_status" property="loginStatus" jdbcType="DECIMAL"/>
        <result column="login_message" property="loginMessage" jdbcType="VARCHAR"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="DATE"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="DATE"/>
    </resultMap>
</mapper>