<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.hzero.iam.infra.mapper.LabelRelMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="org.hzero.iam.domain.entity.LabelRel">
        <result column="label_rel_id" property="labelRelId" jdbcType="DECIMAL"/>
        <result column="data_type" property="dataType" jdbcType="VARCHAR"/>
        <result column="data_id" property="dataId" jdbcType="DECIMAL"/>
        <result column="label_id" property="labelId" jdbcType="DECIMAL"/>
        <result column="assign_type" property="assignType" jdbcType="VARCHAR"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="DATE"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="DATE"/>
    </resultMap>

    <delete id="batchDeleteByIds">
        DELETE FROM hiam_label_rel
        <where>
            <choose>
                <when test="@org.apache.commons.collections4.CollectionUtils@isNotEmpty(ids)">
                    label_rel_id IN
                    <foreach collection="ids" item="id" open="(" separator="," close=")">
                        #{id}
                    </foreach>
                </when>
                <otherwise>
                    1 = 0
                </otherwise>
            </choose>
        </where>
    </delete>
</mapper>