<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.hzero.iam.infra.mapper.UserAuthorityLineMapper">
	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="org.hzero.iam.domain.entity.UserAuthorityLine">
        <result column="authority_line_id" property="authorityLineId" jdbcType="DECIMAL"/>
        <result column="authority_id" property="authorityId" jdbcType="DECIMAL"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
        <result column="data_id" property="dataId" jdbcType="DECIMAL"/>
        <result column="data_code" property="dataCode" jdbcType="VARCHAR"/>
        <result column="data_name" property="dataName" jdbcType="VARCHAR"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="DATE"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="DATE"/>
    </resultMap>
    <insert id="updateUserAuthorityLine">
        <choose>
            <when test="_databaseId == 'oracle'">
                INSERT INTO hiam_user_authority_line (authority_line_id, authority_id, tenant_id, data_id, data_code, data_name, data_source, created_by, last_updated_by)
                SELECT hiam_user_authority_line_S.nextval, t.*
                FROM (
                <foreach collection="list" item="item" separator=" union all ">
                    select #{item.authorityId}, #{item.tenantId}, #{item.dataId}, #{item.dataCode}, #{item.dataName}, #{item.dataSource}, #{item.createdBy}, #{item.lastUpdatedBy} FROM dual
                </foreach>
                ) t
            </when>
            <otherwise>
                INSERT INTO hiam_user_authority_line (authority_id, tenant_id, data_id, data_code, data_name, data_source, created_by, last_updated_by)
                VALUES
                <foreach collection="list" item="item" separator=",">
                    (#{item.authorityId}, #{item.tenantId}, #{item.dataId}, #{item.dataCode}, #{item.dataName}, #{item.dataSource}, #{item.createdBy}, #{item.lastUpdatedBy})
                </foreach>
            </otherwise>
        </choose>
    </insert>

    <select id="selectCreateUserAuthorityLines" resultType="org.hzero.iam.domain.entity.UserAuthorityLine">
      SELECT
	      authority_line_id,
	      authority_id,
	      tenant_id,
	      data_id,
	      data_code,
	      data_name,
	      data_source,
	      object_version_number
      FROM
	      hiam_user_authority_line
      WHERE tenant_id = #{tenantId}
      AND authority_id = #{authorityId}
      AND data_source LIKE '%DEFAULT%'
      <if test="dataName != null and dataName != ''">
          <bind name="dataNameLike" value="'%'+dataName+'%'"/>
          AND data_name LIKE #{dataNameLike}
      </if>
      <if test="dataCode != null and dataCode != ''">
          <bind name="dataCodeLike" value="'%'+dataCode+'%'"/>
          AND data_code LIKE #{dataCodeLike}
      </if>
    </select>
    
    <select id="listPurOrg" resultType="org.hzero.iam.api.dto.UserAuthorityDataDTO">
        select
          purchase_org_id data_id,
          organization_code data_code,
          organization_name data_name
        from hpfm_purchase_organization
        where tenant_id = #{tenantId}
        and purchase_org_id not in(
          SELECT
            data_id
          FROM
            hiam_user_authority_line
          WHERE
            tenant_id = #{tenantId}
          AND data_source LIKE '%DEFAULT%'
          AND authority_id =
            (
            SELECT
            authority_id
            FROM hiam_user_authority hua
            WHERE hua.user_id = #{userId} and hua.data_source LIKE '%DEFAULT%' and hua.tenant_id=#{tenantId} and hua.authority_type_code = 'PURCHASE_ORGANIZATION')
            )
        <if test="dataCode != null and dataCode != ''">
            <bind name="dataCodeLike" value="'%' + dataCode + '%'"/>
            and organization_code like #{dataCodeLike}
        </if>
        <if test="dataName != null and dataName != ''">
            <bind name="dataNameLike" value="'%' + dataName + '%'"/>
            and organization_name like #{dataNameLike}
        </if>
        and enabled_flag = 1

    </select>

    <select id="listPurAgent" resultType="org.hzero.iam.api.dto.UserAuthorityDataDTO">
        select
        purchase_agent_id data_id,
        purchase_agent_code data_code,
        purchase_agent_name data_name
        from hpfm_purchase_agent
        where tenant_id = #{tenantId}
        and purchase_agent_id not in (
            SELECT
               data_id
            FROM
            hiam_user_authority_line
            WHERE
            tenant_id = #{tenantId}
            AND data_source LIKE '%DEFAULT%'
            AND authority_id =
            (
            SELECT
            authority_id
            FROM hiam_user_authority hua
            WHERE hua.user_id = #{userId} and hua.data_source LIKE '%DEFAULT%' and hua.tenant_id=#{tenantId} and hua.authority_type_code = 'PURCHASE_AGENT')
        )
        <if test="dataCode != null and dataCode != ''">
            <bind name="dataCodeLike" value="'%' + dataCode + '%'"/>
            and purchase_agent_code like #{dataCodeLike}
        </if>
        <if test="dataName != null and dataName  != ''">
            <bind name="dataNameLike" value="'%' + dataName + '%'"/>
            and purchase_agent_name like #{dataNameLike}
        </if>
        and enabled_flag = 1


    </select>


    <select id="listPurCat" resultType="org.hzero.iam.api.dto.UserAuthorityDataDTO">
        SELECT
            category_id data_id,
            category_code data_code,
            category_name data_name
        FROM
          smdm_item_category
        where
          1=1
        AND tenant_id = #{tenantId}
        AND category_id NOT IN (
            SELECT
                data_id
            FROM
            hiam_user_authority_line
            WHERE
            tenant_id = #{tenantId}
            AND data_source LIKE '%DEFAULT%'
            AND authority_id =
            (
            SELECT
            authority_id
            FROM hiam_user_authority hua
            WHERE hua.user_id = #{userId} and hua.data_source LIKE '%DEFAULT%' and hua.tenant_id=#{tenantId} and hua.authority_type_code = 'PURCAT')

        )
        <if test="dataCode != null and dataCode!= ''">
            <bind name="dataCodeLike" value="'%' + dataCode + '%'" />
            AND category_code like #{dataCodeLike}
        </if>
        <if test="dataName != null and dataName != ''">
            <bind name="dataNameLike" value="'%' + dataName + '%'" />
            AND category_name like #{dataNameLike}
        </if>
        and enabled_flag = 1

    </select>

    <select id="listPurCatAll" resultType="org.hzero.iam.api.dto.UserAuthorityDataDTO">
        SELECT
        category_id data_id,
        category_code data_code,
        category_name data_name
        FROM
        smdm_item_category
        where
        1=1
        AND tenant_id = #{tenantId}
        <if test="dataCode != null and dataCode!= ''">
            <bind name="dataCodeLike" value="'%' + dataCode + '%'" />
            AND category_code like #{dataCodeLike}
        </if>
        <if test="dataName != null and dataName != ''">
            <bind name="dataNameLike" value="'%' + dataName + '%'" />
            AND category_name like #{dataNameLike}
        </if>
        and enabled_flag = 1

    </select>

    <select id="listLov" resultType="org.hzero.iam.api.dto.UserAuthorityDataDTO">
        <bind name="lang" value="@io.choerodon.mybatis.helper.LanguageHelper@language()"/>
        select
          hl.lov_id data_id,
          hl.lov_code data_code,
          hlt.lov_name data_name,
          hl.tenant_id,
          httl.tenant_name
        from hpfm_lov hl
        join hpfm_lov_tl hlt on hlt.lov_id = hl.lov_id and hlt.lang = #{lang}
        join hpfm_tenant ht on hl.tenant_id = ht.tenant_id
        LEFT JOIN hpfm_tenant_tl httl ON ht.tenant_id = httl.tenant_id AND httl.lang = #{lang}
        where hl.tenant_id IN (0, #{tenantId})
        and hl.lov_id not in(
          SELECT
            data_id
          FROM
            hiam_user_authority_line
          WHERE
            hl.tenant_id = #{tenantId}
          AND data_source LIKE '%DEFAULT%'
          AND authority_id =
            (
            SELECT
                authority_id
            FROM hiam_user_authority hua
            WHERE hua.user_id = #{userId} and hua.data_source LIKE '%DEFAULT%' and hua.tenant_id = #{tenantId} and hua.authority_type_code = 'LOV')
            )
        <if test="dataCode != null and dataCode != ''">
            <bind name="dataCodeLike" value="'%' + dataCode + '%'"/>
            and hl.lov_code like #{dataCodeLike}
        </if>
        <if test="dataName != null and dataName != ''">
            <bind name="dataNameLike" value="'%' + dataName + '%'"/>
            and hlt.lov_name like #{dataNameLike}
        </if>
        and hl.enabled_flag = 1
    </select>

    <select id="listLovView" resultType="org.hzero.iam.api.dto.UserAuthorityDataDTO">
        <bind name="lang" value="@io.choerodon.mybatis.helper.LanguageHelper@language()"/>
        select
          hl.view_header_id data_id,
          hl.view_code data_code,
          hl.view_name data_name,
          hl.tenant_id,
          httl.tenant_name
        from hpfm_lov_view_header hl
        join hpfm_tenant ht on hl.tenant_id = ht.tenant_id
        LEFT JOIN hpfm_tenant_tl httl ON ht.tenant_id = httl.tenant_id AND httl.lang = #{lang}
        where hl.tenant_id IN (0, #{tenantId})
        and hl.view_header_id not in(
          SELECT
            data_id
          FROM
            hiam_user_authority_line
          WHERE
            hl.tenant_id = #{tenantId}
          AND data_source LIKE '%DEFAULT%'
          AND authority_id =
            (
            SELECT
                authority_id
            FROM hiam_user_authority hua
            WHERE hua.user_id = #{userId} and hua.data_source LIKE '%DEFAULT%' and hua.tenant_id = #{tenantId} and hua.authority_type_code = 'LOV_VIEW')
            )
        <if test="dataCode != null and dataCode != ''">
            <bind name="dataCodeLike" value="'%' + dataCode + '%'"/>
            and hl.view_code like #{dataCodeLike}
        </if>
        <if test="dataName != null and dataName != ''">
            <bind name="dataNameLike" value="'%' + dataName + '%'"/>
            and hl.view_name like #{dataNameLike}
        </if>
        and hl.enabled_flag = 1
    </select>

    <select id="listDatasource" resultType="org.hzero.iam.api.dto.UserAuthorityDataDTO">
        <bind name="lang" value="@io.choerodon.mybatis.helper.LanguageHelper@language()"/>
        select
          hd.datasource_id data_id,
          hd.datasource_code data_code,
          hd.description data_name,
          hd.tenant_id,
          httl.tenant_name
        from hpfm_datasource hd
        join hpfm_tenant ht on hd.tenant_id = ht.tenant_id
        LEFT JOIN hpfm_tenant_tl httl ON ht.tenant_id = httl.tenant_id AND httl.lang = #{lang}
        where hd.tenant_id IN (0, #{tenantId})
        and hd.datasource_id not in(
        SELECT
        data_id
        FROM
        hiam_user_authority_line
        WHERE
        hd.tenant_id = #{tenantId}
        AND data_source LIKE '%DEFAULT%'
        AND authority_id =
        (
        SELECT
        authority_id
        FROM hiam_user_authority hua
        WHERE hua.user_id = #{userId} and hua.data_source LIKE '%DEFAULT%' and hua.tenant_id = #{tenantId} and hua.authority_type_code = 'DATASOURCE')
        )
        <if test="dataCode != null and dataCode != ''">
            <bind name="dataCodeLike" value="'%' + dataCode + '%'"/>
            and hd.datasource_code like #{dataCodeLike}
        </if>
        <if test="dataName != null and dataName != ''">
            <bind name="dataNameLike" value="'%' + dataName + '%'"/>
            and hd.description like #{dataNameLike}
        </if>
        and hd.enabled_flag = 1
    </select>


    <select id="listDataGroup" resultType="org.hzero.iam.api.dto.UserAuthorityDataDTO">
        <bind name="lang" value="@io.choerodon.mybatis.helper.LanguageHelper@language()"/>
        SELECT
        hdg.group_id data_id,
        hdg.group_code data_code,
        hdg.group_name data_name,
        hdg.tenant_id,
        httl.tenant_name
        from
        hpfm_data_group hdg
        join hpfm_tenant ht on hdg.tenant_id = ht.tenant_id
        LEFT JOIN hpfm_tenant_tl httl ON ht.tenant_id = httl.tenant_id AND httl.lang = #{lang}
        where hdg.tenant_id IN (0, #{tenantId})
        and hdg.group_id not in(
        SELECT
        data_id
        FROM
        hiam_user_authority_line
        WHERE
        hdg.tenant_id = #{tenantId}
        AND data_source LIKE '%DEFAULT%'
        AND authority_id =
        (
        SELECT
        authority_id
        FROM hiam_user_authority hua
        WHERE hua.user_id = #{userId} and hua.data_source LIKE '%DEFAULT%' and hua.tenant_id = #{tenantId} and hua.authority_type_code = 'DATA_GROUP')
        )
        <if test="groupCode != null and groupCode != ''">
            <bind name="groupCodeLike" value="'%' + groupCode + '%'"/>
            and hdg.group_code like #{groupCodeLike}
        </if>
        <if test="groupName != null and groupName != ''">
            <bind name="groupNameLike" value="'%' + groupName + '%'"/>
            and hdg.group_name like #{groupNameLike}
        </if>
        and hdg.enabled_flag = 1
    </select>
    <select id="queryUserAuthLineDiff" resultType="org.hzero.iam.domain.entity.UserAuthorityLine">
        SELECT
	      #{sourceAuthorityId} authority_id,
	      #{tenantId} tenant_id,
	      data_id,
	      data_code,
	      data_name,
	      'DEFAULT' data_source
       FROM
	      hiam_user_authority_line hua
       WHERE
	    hua.tenant_id = #{tenantId} AND hua.authority_id = #{targetAuthorityId}
	    AND hua.data_source LIKE '%DEFAULT%'
        AND hua.data_id NOT IN
        (
            SELECT
                data_id
            FROM
                hiam_user_authority_line
            WHERE
                tenant_id = #{tenantId} AND data_source LIKE '%DEFAULT%' AND authority_id = #{sourceAuthorityId}
        )
    </select>
    <select id="selectCompanyAssignOu" resultType="java.lang.Long">
        SELECT
            hou.ou_id
        FROM
            hpfm_operation_unit hou
        JOIN (
                SELECT
                data_id
                FROM
                hiam_user_authority_line hual
                JOIN hiam_user_authority hua ON hual.authority_id = hua.authority_id
                AND hua.tenant_id = #{tenantId}
                AND hua.user_id = #{userId}
                AND hua.authority_type_code = 'OU'
                AND hual.data_source LIKE '%DEFAULT%'
                AND hua.data_source LIKE '%DEFAULT%'
              ) temp1 on temp1.data_id = hou.ou_id
        WHERE
            hou.company_id = #{companyId}
    </select>
    <select id="selectOuAssignInvOrg" resultType="java.lang.Long">
        SELECT
            hio.organization_id
        FROM
            hpfm_inv_organization hio
            JOIN (
            SELECT
                data_id
            FROM
                hiam_user_authority_line hual
                JOIN hiam_user_authority hua ON hual.authority_id = hua.authority_id
                AND hua.tenant_id = #{tenantId}
                AND hua.user_id = #{userId}
                AND hua.authority_type_code = 'INV_ORGANIZATION'
                AND hual.data_source LIKE '%DEFAULT%'
                AND hua.data_source LIKE '%DEFAULT%'
            ) temp1 ON temp1.data_id = hio.organization_id
        WHERE
            hio.ou_id IN
            <foreach collection="ouIds" open="(" close=")" separator="," item="item">
                #{item}
            </foreach>
    </select>

</mapper>
